.header_container{
  display: flex;
  justify-content: space-between;
}
.header_1{
    display:flex;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0;  
    margin-left: 20px;
    align-items: center; 
}
.Buttons{
  display: flex;
  align-items: center;
  column-gap: 2rem;
  margin-right: 25px;
}
.Buttons button{
  padding: 12px;
  font-weight: bolder;
  font-size: small;
  background-color: #fff;
  border-radius: 15px;
  border-color: black;
  cursor: pointer;
}
.img_2{
    width:10%;
    object-fit: cover; 
}
h1{
    margin-left: 5px;
}