.Drug_container{
    margin: 1rem;
    border-style: solid;
    padding: 1rem;
    border-width: 1px;
    border-radius: 10px;
    padding-left: 1.5rem;
    margin-top: -0.2rem;
    border-color: #808080;
}
.Drug_input_holder{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;
}
.Drug_input_holder p{
    font-weight: bolder;
}
.Drug_input_holder input{
    padding: 5px;
    width:200px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    background-color: #b4f4ce;

}
.Btn-holder{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}
.Btn-holder button{
    padding: 8px;
    border-radius: 7px; 
    cursor: pointer;  
}
.btn-1{
    width:250px;
    font-weight: bold;
    border-style: solid;
    border-width: 1px;
    
}
.btn-2{
    width: 150px;
    margin-right: 1.2rem;
    background-color: #E78895;
    font-weight: bold;
    border: none;
}
.L-links{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    column-gap: 3.5rem;
}
.L-links a{
    padding: 0.6rem;
    font-weight: bold;
}
.sc-link{
    border:none;
    border-radius: 10px;
    background-color: rgb(255, 250, 154);

}
.sc-box{
    border-style: solid;
    padding: 1rem;
    border-radius: 10px;
    border-width: 1px;
    margin-top: 12.2rem;
}